{% extends '::base.html.twig' %}

{% block body %}

    <table>
        <thread>
            <tr>
                <th></th>
            </tr>
        </thread>

        <tbody>
        {% for product in products %}
            <tr>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
